# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Power BI cache
*.pbix.autorecover

# macOS
.DS_Store

# Processed outputs (optional)
data/processed/temp/

# ML Models
models/**/*.pkl

# Model evaluation outputs
models/evaluation/*.csv